<strong>Olá {{ deliveryman }}</strong>
<p>Uma encomenda para você foi registrada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ recipient }}</strong><br>
  <strong>Produto: {{ product }}</strong><br>
  <br>
</p>
